<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member List</title>
</head>
<body>
    <h1>Member List</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members_data %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.phone }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
