<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction List</title>
</head>
<body>
    <h1>Transaction List</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Member Name</th>
                <th>Book Title</th>
                <th>Date of Rent</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transaction_data %}
                <tr>
                    <td>{{ transaction.member_name }}</td>
                    <td>{{ transaction.book_title }}</td>
                    <td>{{ transaction.dob1 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
